body {
}

.interpreter {
    text-align: center;
    position: relative;
}

.interpreter * {
    font-family: 'Inconsolata', monospace;
    color: #333;
    padding: 0 0;
}

.console {
    display: block;
    margin: 10px auto;
}
    
.interpreter .console .reader::placeholder {
  color: #aaa;
}

.interpreter .console .reader {
    text-align: left;
    border: 1px solid lightblue;
    background: rgba(0,0,0,0.005);
    outline: none;
    display: block;
    padding: 5px 5px;
}

#derivationTree {
    line-height: 1.25em
}

#derivationTree * {
    font-family: 'Inconsolata', monospace;    
}
    

.interpreter .console .submitter{
    border: 1px solid lightblue;
    border-radius: 50px;
    height: max;
    padding: 5px 20px;
    outline: none;
    margin: 10px auto;
    text-align: center;
}

.interpreter .console .reader{
	width: 100%;
}

@media only screen and (min-width: 601px) {
    .interpreter *{
	/*
	font-size: 16px;
	*/
    }
/*
    .interpreter .console .reader {
	min-width: 900px;
    }
*/
}

@media only screen and (max-width: 600px) {
/*
    .interpreter .console .reader{
	width: 100%;
    }
  */  
    .interpreter *{
	/*
	font-size: 16px;
       */
    }
}
