body {
}

.interpreter {
    text-align: center;
    margin: 20px auto;
    position: relative;
}

.interpreter *{
    background: transparent;
    font-family: 'Inconsolata', monospace;
    color: #111;
    padding: 0 20px;
}

.console {
    display: block;
    margin: 10px auto;
}
    
.interpreter .console .reader::placeholder {
  color: #333;
}

.interpreter .console .reader {
    text-align: left;
    border: 1px solid #355;
    background: rgba(0,0,0,0.05);
    outline: none;
    display: block;
    margin: 10px auto;
    line-height: 120%;
}

.derivationTree {
    display: block;
}

.node .children {
    white-space: nowrap;
    overflow-x : visible;
    display: block;
    border-bottom: 1px solid #225;
    margin: 0 0 10px;
    padding: 0 0;
}

.padding {
    display: inline-block;
    width: 30px;
    height: 20px;
  /*
    background: pink;
*/
}

.node {
    display: inline-block;
    margin: 0 0;
    padding: 10px 0;
    position: relative;
}

.node .trans{
    position: absolute;
    right: -3em;
    bottom: 2em;
    z-index: 2;
    overflow: visible;
}
    

.interpreter .console .submitter{
    border: 1px solid #333;
    border-radius: 50px;
    height: max;
    padding: 0 20px;
    outline: none;
    margin: 10px auto;
    text-align: center;
}

@media only screen and (min-width: 601px) {
    .interpreter *{
	font-size: 16px;
    }
    .interpreter .console .reader {
	min-width: 900px;
    }
}

@media only screen and (max-width: 600px) {
    .interpreter .console .reader{
	width: 100%;
    }
    
    .interpreter *{
	font-size: 16px;
    }
}
