body {
    background-repeat: no-repeat;
}

.interpreter {
    text-align: center;
    margin: 40px auto;
    position: relative;
    width: 100%;
}

.interpreter *{
    background: transparent;
    font-family: 'Inconsolata', monospace;
}

.results {
    text-align: left;
}

.console {
}
    
.interpreter .console .reader::placeholder {
}

.interpreter .console .reader {
    text-align: left;
    border: 1px solid gray;
    outline: none;
    width: 100%;
}

.interpreter .console .submitter{
    border: 1px solid gray;
    border-radius: 50px;
    height: max;
    padding: 0 20px;
    outline: none;
}

.interpreter .console {
    width: 100%;
}

@media only screen and (min-width: 601px) {

}

@media only screen and (max-width: 600px) {

}
