.interpreter {
    text-align: center;
    margin: 20px auto;
    position: relative;
}

.interpreter *{
    background: transparent;
    font-family: 'Inconsolata', monospace;
    color: #111;
}

.interpreter .states {
    text-align: left;
}

.console {
    display: block;
    margin: 10px auto;
}
    
.interpreter .console .reader::placeholder {
  color: #aaa;
}

.interpreter .console .reader {
    text-align: left;
    border: 1px solid lightblue;
    outline: none;
    display: block;
    padding: 5px 5px;
}

.interpreter .console .submitter{
    border: 1px solid lightblue;
    border-radius: 50px;
    height: max;
    padding: 5px 20px;
    outline: none;
    margin: 10px auto;
    text-align: center;
}

.interpreter .console .reader{
    width: calc(100% - 12px);
}


.states {
    display: block;
    overflow-x: scroll;
}

.states ul {
    list-style-type: none;
    line-height: 1.25em;
    margin: 0;
    white-space: nowrap;
    overflow-x: visible;
}

.states ul li ul { 
  margin-left: 20px;
}
 
.states ul li ul li {
  position: relative;
}
 
.states ul li ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  width: 10px;
  height: calc(100%);
  border-left: 1px solid #3ff;
}
 
.states ul li ul li:last-child::before {
  height: calc(.75em);
}
 
.states ul li ul li::after {
  content: "";
  position: absolute;
  top: .75em;
  left: -16px;
  width: 10px;
  border-bottom: 1px solid #3ff;
}

.states .back-edge::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    left: -20px;
    border-top: 10px solid transparent;
    border-right: 20px solid #3ff;
    border-bottom: 10px solid transparent;
}

.states .back-edge {
    border: 1px solid #3ff;
    border-left: 0;
    width: 10%;
    bottom: .5em;
    left: 80%;
    position: absolute;
}

.states .back-edge::after {
    border: 1px solid #3ff;
    border-left: 0;
    border-top: 0;
    width: 10%;
    bottom: .5em;
    position: absolute;
}


@media only screen and (min-width: 601px) {
    .interpreter *{
	/*  font-size: 28px; */
    }
}

@media only screen and (max-width: 600px) {
    
    .interpreter * {
	/* font-size: 24px; */
	/* width: 100%; */
    }
}
