body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-color: #171717;
}

#lambda-evaluator {
    text-align: center;
    margin: 40% auto;
    position: relative;
}

#lambda-evaluator *{
    background: transparent;
    font-family: 'Inconsolata', monospace;
    color: #eee;
}

#states {
    text-align: left;
}

#console {
}
    
::placeholder {
  color: #999;
}

#expression-reader {
    text-align: left;
    border: 1px solid gray;
    background: rgba(0,0,0,0.5);
    outline: none;
}

#expression-submitter{
    border: 1px solid gray;
    border-radius: 50px;
    height: max;
    padding: 0 20px;
    outline: none;
}


#lambda-evaluator ul li ul {
  margin-top: .5em;
  margin-bottom: .75em;
  margin-left: 48px;
}
 
#lambda-evaluator ul li ul li {
  margin-bottom: .25em;
  position: relative;
}
 
#lambda-evaluator ul li ul li::before {
  content: "";
  position: absolute;
  top: -0.5em;
  left: -16px;
  width: 10px;
  height: calc(100% + .75em);
  border-left: 1px solid #3972b2;
}
 
#lambda-evaluator ul li ul li:last-child::before {
  height: calc(1em + .25em);
}
 
#lambda-evaluator ul li ul li::after {
  content: "";
  position: absolute;
  top: .75em;
  left: -16px;
  width: 10px;
  border-bottom: 1px solid #3972b2;
}



@media only screen and (min-width: 601px) {
    #lambda-evaluator *{
	font-size: 28px;
    }
    #expression-reader {
	min-width: 360px;
    }
    #expression-submitter {
	margin-left: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #console {
	width: 100%;
    }
    
    #lambda-evaluator *{
	font-size: 24px;
	width: 100%;
    }
}
