body {
    background-image: url("background.png");
}

#lambda-evaluator {
    margin: 40vh auto;
}

#lambda-evaluator *{
    text-align: center;
    font-size: 28px;
    background: transparent;
    font-family: 'Inconsolata', monospace;
    color: #eee;
}

#console {
}
    
::placeholder {
  color: #999;
}

#expression-reader {
    text-align: left;
    min-width: 360px;
    border: 1px solid gray;
    background: rgba(0,0,0,0.5);
    outline: none;
}

#expression-submitter{
    border: 1px solid gray;
    border-radius: 50px;
    height: max;
    padding: 0 20px;
    outline: none;
    margin-left: 10px;
}
